html,body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--mainfont);
}
:root{
    --mainfont:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 70%;
    height: 70%;
    box-shadow: 2px 1px 10px 0px rgb(205, 205, 205);
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.Img-food{
    width: 50%;
    height: 100%;
    background-image: url("/img/login.jpg");
background-size: cover;
}
.form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h2{
    margin-bottom: 0;

}
.dados{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}
.dados input{
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(255, 145, 0);
    background-color: transparent;
    outline: 0;
}
.dados input:focus{
    background-color: rgba(255, 166, 0, 0.158);
    transition: 1s;
}

.form a{
    font-size: smaller;
}

button{
    transition: .2s;
    width: 70%;
    padding: 7px 0 7px 0;
    background-color: rgb(255, 145, 0);
    border: 2px solid rgb(255, 145, 0);
    border-radius: 10px;
    color: aliceblue;
}
button:hover{
    transition: .5s;
    width: 85%;
    border-radius: 0;
    background-color: transparent;
    color: rgb(255, 145, 0);;
}