<header>
    <div class="container">

        <img src="" alt="">
        <div class="barra-pesquisa">
            <div class="img-lupa"> 
                <i class="fas fa-search"></i>   
            </div>
            <input type="text">
        </div>

        <div class="menu-hamburguer">

            <input type="checkbox" id="toggle">
            <div class="menu-linhas">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="navegacao">
                <ul class="links-navegacao">
                    <li><a href="#">Página Inicial</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <!-- <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</header>