<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{authenticationCss/login.css}">
    <link rel="stylesheet" th:href="@{fragmentosCss/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- HEADER -->
    <div th:insert="~{fragments/header :: header}"></div>


    <div class="container">
        <section>

            <div class="Img-food">

            </div>

            <form action="form-login" class="form" method="post" onsubmit="return validateForm()">
                <h2>Sign In</h2>
                <div class="dados">
                    <input type="email" name="email" placeholder="E-mail" required>
                    <input type="password" name="password" placeholder="Senha" required>
                </div>

                <div id="error-message" style="color: red;"></div>
                <div id="success-message" style="color: green;"></div>

                <a href="">Esqueci minha senha</a>

                <button type="submit">Entrar</button>
            </form>

        </section>
    </div>

    <script>
        function validateForm() {
            document.getElementById("error-message").innerHTML = "Erro: E-mail ou senha incorretos.";

            return false;
        }
    </script>
</body>

</html>
