<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{authenticationCss/login.css}">
</head>

<body>
    <!-- HEADER -->

    <div class="container">
        <section>

            <div class="Img-food">

            </div>

            <form action="form-login" class="form" method="post">
                <h2>Login</h2>
                <div class="dados">
                    <input type="email" name="email" placeholder="E-mail" required>
                    <input type="password" name="password" placeholder="Senha" required>

                </div>

                <div th:if="${errorMessage}" class="error-message">
                    <span th:text="${errorMessage}"></span>
                </div>

                <a href="">Esqueci minha senha</a>

                <button type="submit">Entrar</button>
            </form>

        </section>
    </div>

</body>

</html>