
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: var(--mainfont);
}

:root {
    --laranja: #FCBA03;
    --branco: #FFFFFF;
    --cinza: #808080;
    --mainfont:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container1{
    width: 100%;
    height: 85vh;
    display: flex
}
.container-filter{
    height: 100%;
    width: 30%;
    background-color: var(--laranja);
}
.feed-receitas{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts{
    overflow-y: scroll;
    padding: 20px;
}
.post{
    opacity: 0;
    filter: blur(5px);
    transform: translateZ(-100%);
    transition: all 1s ease-in-out;

}

.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 1s ease-in-out;
    transform: translateZ(0);
}
/* nth-child(atrasos) */
.post img{
    height: 60%;
    width: 100%;
}
ul{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
ul li{
    list-style: none;
}

ul li a{
    color: var(--branco);
    text-decoration: none;
    font-size: 15pt;
}

ul li a:hover{
    color: var(--cinza);
}

@keyframes posts {
    from{
transform: translateY(100px);
    }
    to{
        transform: translateY(200px);

    }
}