
    <div class="posts">


        <h2>Salgados</h2>
        <div class="card-categorias">
            <div class="card">
                <div class="img-card">
                    <img src="../image/bolo.jpg" alt="">
                </div>
                <h4>Sorvete</h4>
                <div class="descricao-card">
                    <span>Ingredientes</span>
                    
                </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="../image/bolo.jpg" alt="">
                </div>
                <h4>Sorvete</h4>
                <div class="descricao-card">
                    <span>Ingredientes</span>

                </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="../image/bolo.jpg" alt="">
                </div>
                <h4>Sorvete</h4>
                <div class="descricao-card">
                    <span>Ingredientes</span>
                    
                </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="../image/bolo.jpg" alt="">
                </div>
                <h4>Sorvete</h4>
                <div class="descricao-card">
                    <span>Ingredientes</span>
                    
                </div>
            </div>
        </div>

        <h2>Doces</h2>
        <div class="card-categorias">
            <div class="card">
                <div class="img-card">
                    <img src="../image/bolo.jpg" alt="">
                </div>
                <h4>Sorvete</h4>
                <div class="descricao-card">
                    <span>Ingredientes</span>
                    
                </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="../image/bolo.jpg" alt="">
                </div>
                <h4>Sorvete</h4>
                <div class="descricao-card">
                    <span>Ingredientes</span>

                </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="../image/bolo.jpg" alt="">
                </div>
                <h4>Sorvete</h4>
                <div class="descricao-card">
                    <span>Ingredientes</span>
                    
                </div>
            </div>
            <div class="card">
                <div class="img-card">
                    <img src="../image/bolo.jpg" alt="">
                </div>
                <h4>Sorvete</h4>
                <div class="descricao-card">
                    <span>Ingredientes</span>
                    
                </div>
            </div>z
    </div>