<header>
    <div class="container">

        <img src="" alt="">
        <div class="barra-pesquisa">
            <div class="img-lupa"> 
                <i class="fas fa-search"></i>   
            </div>
            <input type="text">
        </div>

        <div class="menu-hamburguer">

            <input type="checkbox" id="toggle">
            <div class="menu-linhas">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="navegacao">
                <ul class="links-navegacao">
                    <li><a href="/">Home</a><i class="fas fa-home"></i></li>
                    <li><a href="#">Receitas</a><i class="fas fa-utensils"></i></li>
                    <li><a href="#">Noticias</a><i class="fas fa-book"></i></li>
                    <li><a href="/login">Entrar /</a><a href="/register">Cadastrar</a><i class="fas fa-sign-in-alt"></i></li>
            
                </ul>
            </div>
        </div>
    </div>
</header>
