<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <section>

            <div class="Img-food">

            </div>

            <form action="form-share-recipe" class="form" method="post">
                <h2>enviar receita</h2>
                <div class="dados">
                    <input type="text" name="title" placeholder="Titulo" required>
                    <input type="text" name="desription" placeholder="descrição" required>
                    <input type="text" name="recipe" placeholder="passo a passo" required>
                </div>

                <button type="submit">Entrar</button>
            </form>

        </section>
    </div>
</body>
</html>