body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: var(--mainfont);
}

:root {
    --laranja: #FCBA03;
    --branco: #FFFFFF;
    --cinza: #808080;
    --mainfont: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* POSTS DAS receitas */
.feed-receitas {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
    margin-left: 30%;
}

.posts{
    animation: reload .5s ease-in-out;
    width: 100%;
}

/* ====================== */
/* =====CARDS===== */
.card-categorias{
    padding: 20px;
    animation: post 0.5s ease-in-out;
    transform: rotateY(50px);
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 45%;
    box-shadow: -5px 10px 10px -10px rgb(185, 185, 185);
}
.card:hover{
    transition: .5s;
    height: 305px;
    width: 46%;
    box-shadow: 4px 8px 10px 2px grey;
}
.card .img-card{
height: 70%;
}
.card .img-card img{
    
}
.card h4{
    border-top: 2px solid orange;
    margin: 5px;
}
.card .descricao-card{
width: 93%;
height: 33%;
padding: 10px;
font-size: smaller;
}

@media (max-width:800px) {
    .card{
        width: 100%;
    }
}
@media (max-width:500px) {
    .container-filter{
        display: none;
    }
    .feed-receitas{
        margin-left: 0%;
    }
    .card{
        width: 100%;
    }
}