<!DOCTYPE html>
<html lang="pt-br" xmlns="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{fragmentsCss/header.css}">
    <link rel="stylesheet" th:href="@{fragmentsCss/feed-recipes.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
    <div th:insert="~{fragments/header :: header}"></div>


    <div class="container"> 
        <div class="container-filter">
            <ul class="lista">
                <li><a href="">Salgados</a></li>
                <li><a href="">Doces</a></li>
                <li><a href="">Petiscos</a></li>
                <li><a href="">Saladas</a></li>
                <li><a href="">Bebidas</a></li>
            </ul>
        </div>
        <section class="feed-recipes" th:insert="~{fragments/feed-recipes :: .posts}"></section>
        <button class="compartilhar">+</button>
    </div>

</body>
<script>
    const myObserver = new IntersectionObserver((entries) => {
        console.log(entries);
        //entre o que esta sendo impresso no console, preciso saber se ele esta visivel ou não
        // no caso isIntersecting
       entries.forEach((entry) =>{
    
        if (entry.isIntersecting) {
            // isso retorna true ou false
            entry.target.classList.add("show");
            // após serem visiveis, caso não estaja na tela, removo a classe
        }
       })
    });
    const elements = document.querySelectorAll(".card");
    // como o elements e uma lista, tenho que fazer um foreach
    
    elements.forEach((element) => myObserver.observe(element))
    // dessa forma coloco todos em observação
    
    // scroll/pou-up/power-bi/exel
    </script>

</html>